* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f7f5f5;
  margin-left: 4rem;
  margin-right: 4rem;
  padding: 0;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="number"] {
  width: 80px;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #3e8e41;
}


#piechart {
  width: 400px;
  height: 400px;
  margin: 30px auto;
}

.chart-content {
  margin-top: -13cm;
} 